body .reveal .progress {
    color: #ea5906;
}

.reveal section img.no-border {
    border: 0;
    background: none;
    box-shadow: none;
}

body .reveal .controls,
.reveal.has-light-background .controls {
    color: #ea5906;
}

.about {
    position: relative;
}

.about div {
    font-size: 2em;
}

.about .fragment {
    position: absolute;
    left: 50%;
    width: 100%;
    margin-left: -50%;
}

.reveal div.intro {
    text-align: left;
    padding: 20px 60px;
    margin-left: 100px;
    position: relative;
    left: 40px;
}

.reveal div.intro:before {
    content: "";
    display: block;
    background: #ea5906;
    width: 20px;
    height: 200px;
    position: absolute;
    transform: rotate(20deg);
    top: 40px;
    left: -20px;
    transition: transform 0.4s;
}

.reveal div.intro.titleSlide:before {
    background: #ea5906;
}

.reveal div.intro.easeIn:before {
    transform: rotate(-60deg);
}

.reveal h2.intro:before {
    content: "";
    display: block;
    background: #ea5906;
    width: 10px;
    height: 130px;
    position: absolute;
    transform: rotate(20deg);
    top: 20px;
    left: 0;
    transition: transform 0.4s;
}

.reveal h2.intro.easeIn:before {
    transform: rotate(-60deg);
}

body .reveal blockquote.seleniumis {
    padding: 60px 60px 120px;
}

body .reveal blockquote.seleniumis:before {
    display: block;
    content: '"';
    font-size: 430px;
    font-family: Times New Roman;
    position: absolute;
    top: -190px;
    left: -120px;
}

body .reveal blockquote.seleniumis:after {
    display: block;
    content: '<Titus Fortner>';
    position: absolute;
    bottom: 10%;
    right: 10%;
    color: #ea5906;
    font-size: 0.7em;
}

.reveal .testframeworkfeatures,
.reveal .cypresstweets,
.reveal .webdriverway,
.reveal .cypressway {
    width: 100%;
    height: 1100px;
    position: relative;
    bottom: 30px;
}
.reveal .slides section .testframeworkfeatures .fragment.current-visible {
    visibility: visible;
    opacity: 1;
}

.reveal .testframeworkfeatures span {
    position: absolute;
    font-size: 2em;
}
.reveal .slides .testframeworkfeatures span.current-fragment {
    text-shadow: 0 0 .1em #ea5906, 0 0 0.2em #ea5906;
    color: #ea5906;
}

.reveal .testframeworkfeatures span.a { left:  5%; top: 10% }
.reveal .testframeworkfeatures span.b { left: 75%; top: 85% }
.reveal .testframeworkfeatures span.c { left:  0%; top: 80% }
.reveal .testframeworkfeatures span.d { left: 80%; top: 60% }
.reveal .testframeworkfeatures span.e { left: 15%; top: 28% }
.reveal .testframeworkfeatures span.f { left: 45%; top: 65% }
.reveal .testframeworkfeatures span.g { left: 60%; top: 30% }
.reveal .testframeworkfeatures span.h { left: 82%; top: 22% }
.reveal .testframeworkfeatures span.i { left:  5%; top: 60% }
.reveal .testframeworkfeatures span.j { left: 35%; top: 45% }
.reveal .testframeworkfeatures span.k { left: 50%; top: 15% }

.reveal .cypresstweets img {
    position: absolute;
    border: 0;
}
.reveal .cypresstweets .tweet1 { transform: rotate(10deg); }
.reveal .cypresstweets .tweet2 {
    left: 0;
    bottom: 10px;
    transform: rotate(-10deg);
}
.reveal .cypresstweets .tweet3 {
    left: 70%;
    top: -4%;
    transform: rotate(-10deg);
}
.reveal .cypresstweets .tweet4 {
    bottom: 10px;
    right: 12%;
    transform: rotate(5deg);
}
.reveal .cypresstweets .tweet5 {
    left: 0;
    transform: rotate(-28deg);
}
.reveal .cypresstweets .tweet6 {
    right: -10%;
    top: 40%;
    transform: rotate(5deg);
}
.reveal .cypresstweets .tweet7 {
    left: -10%;
    top: 30%;
    transform: rotate(20deg);
}
.reveal .cypresstweets .tweet8 {
    top: 68%;
    left: 29%;
    transform: rotate(10deg);
}
.reveal .cypresstweets .tweet9 {
    left: 23%;
}
.reveal .cypresstweets .tweet10 {
    right: -5%;
    top: 5%;
    transform: rotate(41deg);
}
.reveal .cypresstweets .tweet11 {
    top: 64%;
    right: 7%;
    transform: rotate(-11deg);
}
.reveal .cypresstweets .tweet12 {
    top: 71%;
    left: 15%;
    transform: rotate(10deg);
}
.reveal .cypresstweets .tweet13 {
    left: 75%;
    top: 18%;
    transform: rotate(-15deg);
}
.reveal .cypresstweets .tweet14 {
    left: 4%;
    top: 21%;
    transform: rotate(-10deg);
}
.reveal .cypresstweets .tweet15 {
    top: 67%;
    right: -10%;
    transform: rotate(4deg);
}
.reveal .cypresstweets .tweet16 {
    top: 9%;
    left: 36%;
}
.reveal .cypresstweets .tweet17 {
    bottom: -18%;
    left: 40%;
}
.reveal .cypresstweets .tweet18 {
    left: -10%;
    top: 60%;
    transform: rotate(-20deg);
}
.reveal .cypresstweets .tweet19 {
    left: -4%;
    top: -10%;
    transform: rotate(-10deg);
}
.reveal .cypresstweets .tweet20 {
    right: -14%;
    top: -14%;
    transform: rotate(27deg);
}
.reveal .cypresstweets .tweet21 {
    bottom: -6%;
    right: -1%;
    transform: rotate(10deg);
}
.reveal .cypresstweets .tweet22 {
    top: -10%;
    left: 30%;
    transform: rotate(5deg);
}
.reveal .cypresstweets .tweet23 {
    left: 78%;
    top: 40%;
    transform: rotate(10deg);
}
.reveal .cypresstweets .tweet24 {
    left: 40%;
    top: 61%;
}
.reveal .cypresstweets .tweet25 {
    left: 56%;
    top: -10%;
}
.reveal .cypresstweets .tweet26 {
    left: -4%;
    top: 82%;
    transform: rotate(20deg);
}
.reveal .cypresstweets .tweet27 {
    top: 73%;
    transform: rotate(8deg);
}
.reveal .cypresstweets .tweet28 {
    left: -9%;
    top: 22%;
    transform: rotate(29deg);
}
.reveal .cypresstweets .tweet29 {
    top: 12%;
    left: 59%;
    transform: rotate(-20deg);
}
.reveal .cypresstweets .tweet30 {
    left: 65%;
    top: 93%;
    transform: rotate(-10deg);
}
.reveal .cypresstweets .tweet31 {
    left: 6%;
    top: 0%;
    transform: rotate(-12deg);
}
.reveal .cypresstweets .tweet32 {
    left: 17%;
    top: 70%;
    transform: rotate(-10deg);
}
.reveal .cypresstweets .tweet33 {
    left: 76%;
    top: 59%;
    transform: rotate(-3deg);
}
.reveal .cypresstweets .tweet34 {
    left: -7%;
    top: 51%;
    transform: rotate(-10deg);
}
.reveal .cypresstweets .tweet35 {
    left: 78%;
    top: 23%;
    transform: rotate(-6deg);
}
.reveal .cypresstweets .tweet36 {
    left: 70%;
    top: 68%;
    transform: rotate(5deg);
}
.reveal .cypresstweets .tweet37 {
    left: 14%;
    top: -18%;
    transform: rotate(3deg);
}
.reveal .cypresstweets .tweet38 {
    left: 70%;
    top: 5%;
    transform: rotate(5deg);
}
.reveal .cypresstweets .tweet39 {
    left: 30%;
    top: 83%;
}

.reveal .webdriverway .script {
    position: absolute;
    left: 3%;
    top: 40%;
    width: 300px;
}
.reveal .webdriverway .script img,
.reveal .webdriverway .arrow1,
.reveal .webdriverway .arrow2,
.reveal .webdriverway .chromedriver,
.reveal .webdriverway .chrome,
.reveal .webdriverway .mobile img {
    border: 0;
    background: transparent;
    box-shadow: none;
}
.reveal .languages {
    position: absolute;
    width: 100px;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}
.reveal .languages.js {
    left: -23%;
    top: 20%;
}
.reveal .languages.ruby {
    left: 40%;
    bottom: 95%;
}
.reveal .languages.php {
    left: 97%;
    top: 30%;
}
.reveal .languages.python {
    top: 88%;
    left: 3%;
}
.reveal .languages.java {
    left: 70%;
    top: 85%;
}

.reveal .webdriverway .arrow1 {
    position: absolute;
    left: 26%;
    top: 48%;
}

.reveal .webdriverway .arrow2 {
    position: absolute;
    left: 57%;
    top: 48%;
}

.reveal .slides section .webdriverway .chromedriver {
    position: absolute;
    left: 41%;
    top: 41%;
    width: 300px;
    transform: rotate(0);
    transition: transform 2s ease-in-out;
}
.reveal .webdriverway .chrome {
    position: absolute;
    left: 75%;
    top: 35%;
    width: 450px;
}
.reveal .webdriverway .arrowLabel {
    position: absolute;
    left: 25%;
    top: 57%;
}
.reveal .webdriverway .arrowLabel2 {
    position: absolute;
    left: 54%;
    top: 57%;
}
.reveal .webdriverway .mobile .appium {
    right: 46%;
    width: 200px;
    position: absolute;
    top: 41%;
}
.reveal .webdriverway .mobile .arrow3 {
    position: absolute;
    width: 200px;
    left: 55%;
    top: 48%;
}
.reveal .webdriverway .mobile .arrowLabel3 {
    position: absolute;
    left: 58%;
    top: 64%;
    opacity: 1;
    visibility: visible;
}
.reveal .webdriverway .mobile .iphone {
    position: absolute;
    width: 270px;
    right: 0;
    top: 36%;
}
.reveal .webdriverway .mobile .android {
    position: absolute;
    right: 0;
    width: 142px;
    top: 38%;
}
.reveal .webdriverway .mobile .arrow4 {
    width: 200px;
    top: 48%;
    position: absolute;
    left: 77.5%;
}
.reveal .webdriverway .mobile .chromedriver2 {
    width: 300px;
    position: absolute;
    left: 64%;
    top: 41%;
}

.reveal .cypressapp {
    width: 1200px;
    background: transparent;
    border: 0;
    box-shadow: none;
    position: absolute;
    left: 35%;
}
.reveal .cypressway .languages.js {
    opacity: 1;
    left: 40%;
    top: 95%
}
.reveal .cypressway .arrow1 {
    left: 18%;
}
.reveal .cypressway .arrowLabel {
    left: 21%;
}
.reveal .diffwd {
    position: absolute; width: 40%; left: 10%; top: 30%;
}
.reveal .diffcy {
    position: absolute; width: 40%; left: 56%; top: 30%;
}

.reveal .diffwd li,
.reveal .diffcy li {
    margin-bottom: 20px;
}

.reveal .pageobjects ul {
    margin: 50px 0;
}
.reveal .pageobjects ul li {
    margin: 30px 0;
    font-size: 1.2em;
}

@-webkit-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ea5906, 0 0 70px #ea5906, 0 0 80px #ea5906, 0 0 100px #ea5906, 0 0 150px #ea5906;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ea5906, 0 0 35px #ea5906, 0 0 40px #ea5906, 0 0 50px #ea5906, 0 0 75px #ea5906;
  }
}

.reveal .glow {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    color: #ea5906;
    font-weight: bold;
    font-size: 10em;
    font-family: Pacifico;
    -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
    -moz-animation: neon3 1.5s ease-in-out infinite alternate;
    animation: neon3 1.5s ease-in-out infinite alternate;
}

.pkgs span {
    font-size: 2em;
    padding: 0 50px
}

.reveal .withcode code {
    max-height: 800px;
    padding: 20px;
}

body .reveal pre {
    font-size: 0.75em;
}